<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ lang 'title' }}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div>
    {{ lang 'title' }}
</div>
<div>
    {{ lang 'currency:rub.0' }}
</div>
<div>
    {{ lang 'counter:1' }}
</div>
<div>
    {{ lang 'formname.1' }}
</div>
<div>
    {{ lang 'social:whatsapp.class' }}
</div>

<footer>
{{> footer}}
{{> footer/main}}
</footer>

</body>

</html>
